@font-face {
    font-family: "SF6";
    src: url("./SF6.otf");
    font-display: swap;
}

html {
    overflow: hidden;
    height: 100vh;
}

main, nav, footer, header, button, input {
    font-family: "SF6";
    font-size: 55px;
    letter-spacing: 1px;
}

header {
    text-shadow: none;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 2fr 0.5fr;

    svg {
        background-color: white;
    }
}

body {
    text-shadow: 4px 2px 0 white;
    height: 100%;
    background: url("./bg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.character-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    border-top: solid 2px #6272D8;
    padding: 20px;
    height: 7vh;
    right: 0;
    left: 0;
    color: white;
    text-shadow: 4px 2px 0 black;

    & .name {
        width: 100%;
        text-align: center;
    }

    & .blur-layer {
        position: absolute;
        z-index: -1;
        inset: 0;
        backdrop-filter: blur(5px);
        background: linear-gradient(to right, #6272D880, #D05BDD80, #6272D880);
    }
}

.current-character {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
}

.vs {
    flex: 2;
    text-align: center;
}

.shadow-layer {
    bottom: 0;
    position: absolute;
}

.p1 {
    left: 0;
}

.p2 {
    right: 0;
    
    & .character-image {
        transform: rotateY(180deg);
    }
}

.arrow {
    height: 60px;
    width: 60px;
}

.title {
    grid-area: 1 / 2 / 1 / 2;
    text-align: center;
}

.side-icons {
    grid-area: 1 / 3 / 1 / 3;
}
