.video-preview-bg {
    height: 200px;
}

#videos {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1vh;
    column-gap: 3vh;
    width: fit-content;
    height: 75vh;
    display: none;
    overflow-y: scroll;
    padding: 0 20px;
    margin: 0 auto;
    scrollbar-color: #E374CA #6735B2;

    &.show-results {
        display: grid;
    }
}

@media (max-width: 1500px) {
    #current-video:not(:has(iframe)) + #videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1400px) {
    #current-video:not(:has(iframe)) + #videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 760px) {
    #current-video:not(:has(iframe)) + #videos {
        grid-template-columns: repeat(1, 1fr);
    }
    #character-select-list {
        width: 100%;
    }
}

.video-preview-border, .candidate-video {
    height: 100%;
}

.main-video {
    width: 100%;
    height: 100%;
}

#current-video:has(iframe) {
    grid-area: 1 / 1 / 3 / 5;
}

.display-video:has(iframe) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2vh;
}

#current-video:has(iframe) + #videos {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    grid-area: 3 / 1 / 3 / 5;
    width: 100%;
    height: fit-content;
    padding: 1vh 0;
}
